<h2 class="new-food-header">Shopping List</h2>
<div class="foods shopping-list">
  <div class="shopping-list-header">
    <p>Amount of food items to buy: </p>
    <p>Total value of food needed: </p>
  </div>
  <table class="food-table">
    <thead>
      <tr>
      <th class="food-t-name">Food</th>
      <th class="food-t-name">Quantity</th>
      <th class="food-t-name">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <td>Apple</td>
      <td>100 grams</td>
      <td>$ 750</td>
      </tr>
    </tbody>
  </table>
</div> 